@tailwind base;
@tailwind components;
@tailwind utilities;


/* nav links */

nav ul li a:hover,
nav ul li a:active{
    color: #088178;
}

.underlineLink::after{
    content: "";
    width: 0;
    height: 3px;
    background: #088178;
    display: block; 
    margin-right: auto; 
    transition: 0.5s;
}

.underlineLink:hover::after{
    width: 60%;
}

.active,.activeCart,.mobileactive{
    color: #088178;
}

.active::after{
    content: '';
    width: 60%;
    height: 3px;
    background: #088178;
    display: block;
}

/* table scroll bar */

#scrollableTable::-webkit-scrollbar {
    height: 3px;
}

#scrollableTable::-webkit-scrollbar-track {
    background-color: transparent;
}

#scrollableTable::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

